.x-form-text{ display: initial; }
.x-tree-icon { display: none !important; }
.x-window-default { box-shadow: inherit; }

.y-grid3-bold-row{ font-weight: bold};
.y-grid3-bold-row{ font-weight: 300};

.icon-unknown{	background: url("../images/icon-unknown.png") no-repeat center !important; }
.icon-attachment{	background: url("../images/icon-attachment.png") no-repeat center !important; }

.icon-zip, .icon-rar, .icon-7z, .icon-gz{	background: url("../images/icon-zip.png") no-repeat center !important; }
.icon-txt{	background: url("../images/icon-txt.png") no-repeat center !important; }
.icon-pdf{	background: url("../images/icon-pdf.png") no-repeat center !important; }
.icon-doc, .icon-docx{	background: url("../images/icon-word.png") no-repeat center !important; }
.icon-xls, .icon-xlsx{	background: url("../images/icon-excel.png") no-repeat center !important; }
.icon-jpg, .icon-jpeg, .icon-gif, .icon-png, .icon-bmp{	background: url("../images/icon-image.png") no-repeat center !important; }
